.col-lg-3
  %nav{class: classes}
    %ul.nav.nav-pills.nav-stacked{data: {toggle: 'tabs-remote'}, role: 'tablist'}
      = navs options[:tabs]
.col-lg-9.change.well
  .tab-content= panes options[:tabs]