.col-md-offset-2
  = link_to new_user_profile_network_accounts_path(@user, @profile), class: 'add-relation', remote: true do
    %i.fa.fa-plus-square-o.fa-2x
    .title= _('profile.network_account.add')