- account = id = account_type = nil
- unless local_assigns[:network_account].nil?
  - account= network_account.account
  - id = network_account.id
  - account_type = network_account.account_type
.form-group
  =hidden_field_tag 'profile[network_accounts][][id]', id
  =label_tag 'network_account', _('profile.network_account'), class: %w(string required col-sm-2 control-label)
  .col-sm-4= select_tag 'profile[network_accounts][][account_type]', options_for_select(NetworkAccount.account_types.keys, account_type), class: %w(string required form-control)
  .col-sm-6= text_field_tag 'profile[network_accounts][][account]', account, class: %w(string required form-control)