.row.widget-box.categories
  %h4.widget-title=_('posts.sidebar.categories')
  = container do
    = concept('category/cell/link', collection: categories, object: model.model)
  -#%ul= concept('category/cell/list', collection: categories)


.row.widget-box.archives
  %h4.widget-title=_('posts.sidebar.archives')
  = container do
    = concept('post/archive/cell/link', collection: archives)
