%section.content-wrapper
  #user-profile.row
    .col-lg-9.col-md-8.col-sm-8
      .main-box.clearfix
        .profile-header.title-header
          %h3
            %span= yield :profile_header
          - if content_for? :profile_edit
            = yield :profile_edit
        .profile-body= yield

    =concept('user/cell/sidebar', @user)